<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app" class="app" v-cloak v-on:click="hideTooltip">
        <div class="tooltip" v-on:click.stop v-if="showTooltip">
            <input type="text" v-model="textContent">
        </div>
            <p v-on:click.stop="toggleTooltip">{{textContent}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>